@model AllEngineers.Models.CategoryModel

@{ 
    List<SelectListItem> categoryList = ViewBag.CategoryList as List<SelectListItem>;
}
    <ul class="form filterform" data-extender="inputform">
        <li data-name="CategoryName" class="submit">
            @Html.LabelFor(x => x.CategoryName, "Category Name")
            <span class="validator-holder">
                @Html.TextBoxFor(x => x.CategoryName)
            </span>
        </li>
        <li data-name="ParentId" class="category submit">
            @Html.LabelFor(x => x.ParentId, "Parent Name")
            <span class="validator-holder">
                <select id="@Html.IdFor(x=>x.ParentId)"
                        name="@Html.NameFor(x=>x.ParentId)"
                        data-extender="treeddl">
                    <option value="">None</option>
                    @foreach (SelectListItem category in categoryList)
                    {
                        <option value="@category.Value" data-parent="@category.Group.Name">@category.Text</option>
                    }
                </select>
            </span>
        </li>
    </ul>