@model Entities.User
@{
    SelectListItem[] materials = ViewBag.Materials as SelectListItem[];
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>My Profile</legend>
        <ul class="profileform clearfix">
            <li class="avatar">
                <input type="file" name="picture" data-extender="picturebox" accept=".jpg"
                       data-size="150, 200"
                       data-picture="/pictures/@(Model.UserId).jpg"
                       data-boxstyle="picturebox" />
                <div class="displayname"
                     data-extender="editbox"
                     data-service="@Url.Content("~/myprofile/update")"
                     data-field="displayname">
                    @Model.DisplayName
                </div>
            </li>
            <li>
                <div class="fullname fa fa-user"
                     data-extender="editbox"
                     data-service="@Url.Content("~/myprofile/update")"
                     data-field="fullname">
                    @Model.FullName
                </div>
            </li>
            <li>
                <div class="gender fa fa-intersex"
                     data-extender="editbox"
                     data-service="@Url.Content("~/myprofile/update")"
                     data-field="gender">
                    @Model.Gender.ToString():"N/A"
                    <select>
                        <option value="">N/A</option>
                        @foreach (Entities.Gender gender in Enum.GetValues(typeof(Entities.Gender)))
                        {
                            <option value="@((byte)gender)" @(gender == Model.Gender ? "selected=\"selected\"" : "" )>@gender.ToString()</option>
                        }
                    </select>
                    <a href="#" class="fa fa-edit"></a>
                </div>
            </li>
            <li>
                <div class="email fa fa-at"
                     data-extender="editbox"
                     data-service="@Url.Content("~/myprofile/update")"
                     data-field="email">
                    @Model.Email
                </div>
            </li>
            <li>
                <div class="phone fa fa-phone"
                     data-extender="editbox"
                     data-service="@Url.Content("~/myprofile/update")"
                     data-field="phone">
                    @Model.Phone
                </div>
            </li>
            <li>
                <div class="role fa fa-briefcase"
                     data-extender="editbox"
                     data-service="@Url.Content("~/myprofile/update")"
                     data-field="role">
                    @Model.UserType.ToString()
                    <select>
                        @foreach (Entities.UserType gender in Enum.GetValues(typeof(Entities.UserType)))
                        {
                            <option value="@((byte)gender)" @(gender == Model.UserType ? "selected=\"selected\"" : "" )>@gender.ToString()</option>
                        }
                    </select>
                    <a href="#" class="fa fa-edit"></a>
                </div>
            </li>

        </ul>
    </fieldset>
}
