    @model MVCWebsite.Models.SignInModel


<a href="~/account/facebooklogin" data-extender="facebookLogin">Login with facebook</a>

 <div class="orseperator">
 </div>
@if(ViewBag.Invalid){
    <div>
        Invalid Username or Password.
    </div>
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Login Form</legend>
        <ul class="form">
            <li>
                <label>Username:</label>
                <span class="validator-holder">
                @Html.TextBoxFor(x=>x.Username)
                @Html.ValidationMessageFor(x=>x.Username, "", new { @class = "validator"})
                    </span>
            </li>
            <li>
                <label>Password:</label>
                <span class="validator-holder">
                @Html.PasswordFor(x=>x.Password)
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "validator"})
                     </span>
           </li>
            <li>
                @Html.CheckBoxFor(x=>x.RememberMe)
                <label>Remember Me</label>
            </li>
            <li>
                <input type="submit" value="Login" /> or <a href="~/home/signup">Create User</a>
            </li>
            <li>
                <a href="~/account/reset">I forget my password.</a>
            </li>
        </ul>
    </fieldset>
}