@model Entities.Category

@Html.DisplayFor(x=>x.CategoryName)

@if (Model.HasChilds)
{
    <ul>
        @foreach (Entities.Category child in Model.Childs)
        {
        <li>
            <a href="@child.CategoryKey">@child.CategoryName</a>
        </li>
        }
    </ul>
}

@if (Model.HasTutorials)
{
    <ul>
        @foreach(Entities.Material tutorial in Model.Tutorials)
        {
            <li>
                <a href="@tutorial.MaterialKey">@tutorial.MaterialName</a>
            </li>
        }
    </ul>
}