@model AllEngineers.Models.MaterialModel

@{
    List<SelectListItem> trainerList = ViewBag.TrainerList as List<SelectListItem>;
    List<SelectListItem> categoryList = ViewBag.CategoryList as List<SelectListItem>;
}
@using (Html.BeginForm())
{
    <ul class="form" data-extender="inputform">
        <li data-name="TutorialName">
            @Html.LabelFor(x => x.TutorialName, "Tutorial Name")
            <span class="validator-holder">
                @Html.TextBoxFor(x => x.TutorialName, new { @class = "required" })
            </span>
        </li>
        <li data-name="TutorialName">
            @Html.LabelFor(x => x.TutorialKey, "Tutorial Key")
            <span class="validator-holder">
                @Html.TextBoxFor(x => x.TutorialKey, new { @class = "required" })
            </span>
        </li>
        <li data-name="CategoryId">
            @Html.LabelFor(x => x.CategoryId, "Category Name")
            <span class="validator-holder">
                <select id="@Html.IdFor(x => x.CategoryId)"
                        name="@Html.NameFor(x => x.CategoryId)"
                        class="required"
                        data-extender="treeddl">
                    <option value="">None</option>
                    @foreach (SelectListItem category in categoryList)
                    {
                        <option value="@category.Value" data-parent="@category.Group.Name">@category.Text</option>
                    }
                </select>
            </span>
        </li>
        <li data-name="TrainerId">
            @Html.LabelFor(x => x.TrainerId, "Trainer Name")
            <span class="validator-holder">
                @Html.DropDownListFor(x => x.TrainerId, trainerList, new { @class = "required" })
            </span>
        </li>
        <li data-name="Description">
            @Html.LabelFor(x => x.Description, "Description")
            <span class="validator-holder">
                @Html.TextAreaFor(x => x.Description, new { @class = "required", @data_extender = "ckeditor" })
            </span>
        </li>
        <li>
            <input type="submit" value="Save" />
            or <a href="~/admin/tutorials">Cancel</a>
        </li>
    </ul>
}